secrets.zsh
ct.zsh
Google
Meltytech
alacritty/themes
ardour8
astro
autostart
blender/4.5/config
configstore
dconf
GIMP/3.0
.wrangler/logs
evolution/sources
geary
git
github-copilot
go/telemetry/local
google-chrome
gtk-3.0/bookmarks
htop
nvim/plugged
pulse
tmux/plugins
vidcutter
